.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
.pic1.jpg {
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}
.pic2.jpg {
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}
.pic3.jpg {
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}
img:hover {
    border-radius: 140px;
}